In [1]:
%cd C:/Users/sylee/Documents/GitHub/DataSafe/DataSafe

C:\Users\sylee\Documents\GitHub\DataSafe\DataSafe

In [2]:
# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
import matplotlib.pyplot as plt
# 그래프에서 한글 폰트 깨지는 문제에 대한 대처(전역 글꼴 설정)
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font', family=font_name)
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
path1 = 'C:/Users/sylee/Documents/GitHub/DataSafe/DataSafe/ExternalKmeans.csv'

In [4]:
df = pd.read_csv(path1)
df.head()

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,총면적,...,육지 도시화 정도,해면 도시화 정도,도시지역 인구 (명),1인당 주거지역 (㎡),1인당 상업지역 (㎡),1인당 공업지역 (㎡),지수,pca1,pca2,cluster
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,1.046881e+09,...,-84.396356,0.627164,188520.0,91.26,9.61,29.86,1.046,8.007954e+08,93221.281586,0
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,6.614680e+08,...,-96.291217,0.047090,14786.0,207.71,26.65,14.15,0.468,4.153821e+08,-156355.561133,0
2,강원도,동해시,16.000000,11.583333,20.666667,13.000000,24.000000,9.666667,94.916667,1.981669e+08,...,16.159127,9.002838,89092.0,148.32,25.13,100.46,0.862,-4.791900e+07,-173219.359317,1
3,강원도,삼척시,27.000000,17.000000,26.916667,8.416667,58.166667,23.083333,160.583333,1.191732e+09,...,-86.593681,0.000000,50633.0,197.30,19.69,153.17,0.697,9.456461e+08,-16161.613777,0
4,강원도,속초시,25.333333,22.166667,43.666667,12.916667,24.083333,16.333333,144.500000,1.107835e+08,...,-28.605848,4.547517,82806.0,76.00,28.09,12.49,0.897,-1.353023e+08,-196700.898965,1

In [5]:
df.loc[df['cluster']== 0]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,총면적,...,육지 도시화 정도,해면 도시화 정도,도시지역 인구 (명),1인당 주거지역 (㎡),1인당 상업지역 (㎡),1인당 공업지역 (㎡),지수,pca1,pca2,cluster
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,1.046881e+09,...,-84.396356,0.627164,188520.0,91.26,9.61,29.86,1.046,8.007954e+08,93221.281586,0
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,6.614680e+08,...,-96.291217,0.047090,14786.0,207.71,26.65,14.15,0.468,4.153821e+08,-156355.561133,0
3,강원도,삼척시,27.000000,17.000000,26.916667,8.416667,58.166667,23.083333,160.583333,1.191732e+09,...,-86.593681,0.000000,50633.0,197.30,19.69,153.17,0.697,9.456461e+08,-16161.613777,0
5,강원도,양구군,8.750000,7.833333,24.916667,2.000000,9.666667,10.250000,63.416667,6.618149e+08,...,-98.878841,0.000000,11771.0,123.59,13.92,5.32,0.640,4.157290e+08,-159302.304211,0
6,강원도,양양군,12.000000,78.250000,22.166667,2.333333,50.666667,35.166667,200.583333,6.305703e+08,...,-96.228489,0.043856,12239.0,211.61,50.88,1.77,0.741,3.844844e+08,-164982.689336,0
7,강원도,영월군,21.166667,20.083333,41.666667,6.500000,16.000000,33.333333,138.750000,1.127618e+09,...,-95.320412,0.000000,24500.0,143.62,22.59,43.91,0.716,8.815322e+08,-54911.131876,0
8,강원도,원주시,21.833333,56.083333,82.916667,17.500000,31.666667,60.916667,270.916667,8.677819e+08,...,-79.648089,0.000000,328007.0,79.45,7.61,19.39,1.187,6.216959e+08,197464.532788,0
10,강원도,정선군,30.000000,17.583333,36.333333,6.833333,22.583333,16.416667,129.750000,1.219720e+09,...,-93.024109,0.000000,23054.0,217.88,48.60,26.52,0.606,9.736341e+08,-38233.051385,0
11,강원도,철원군,16.333333,15.666667,23.750000,4.500000,20.000000,16.083333,96.333333,8.894346e+08,...,-94.050895,0.000000,38000.0,163.39,19.47,10.59,0.832,6.433487e+08,-88281.619862,0
12,강원도,춘천시,27.750000,83.000000,82.166667,20.916667,36.750000,48.083333,298.666667,1.116413e+09,...,-39.931290,0.000000,261724.0,81.39,6.43,12.41,1.115,8.703269e+08,180107.896001,0
16,강원도,화천군,15.583333,10.083333,26.583333,3.333333,13.666667,10.250000,79.500000,9.089681e+08,...,-97.089031,0.000000,12886.0,176.32,21.88,2.08,0.558,6.628822e+08,-109551.757682,0
17,강원도,횡성군,12.833333,27.166667,20.583333,3.166667,21.250000,19.750000,104.750000,9.976635e+08,...,-98.011570,0.000000,19041.0,134.65,19.90,61.64,0.798,7.515776e+08,-85942.998470,0
80,울산광역시,울주군,19.333333,29.583333,53.166667,10.166667,59.833333,95.833333,267.916667,8.433674e+08,...,8.377854,9.665552,219517.0,105.11,7.48,176.36,1.123,5.972814e+08,84170.177652,0

In [6]:
df.loc[df['cluster']== 2]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,총면적,...,육지 도시화 정도,해면 도시화 정도,도시지역 인구 (명),1인당 주거지역 (㎡),1인당 상업지역 (㎡),1인당 공업지역 (㎡),지수,pca1,pca2,cluster
9,강원도,인제군,14.666667,18.916667,24.750000,4.166667,35.083333,13.666667,111.250000,1.646252e+09,...,-98.197236,0.0,29037.0,117.52,19.18,7.53,0.724,1.400166e+09,51684.145371,2
14,강원도,평창군,25.916667,36.333333,48.000000,6.333333,25.166667,34.500000,176.250000,1.463831e+09,...,-97.720943,0.0,16387.0,292.62,29.97,0.00,0.628,1.217746e+09,3136.948977,2
15,강원도,홍천군,9.833333,27.916667,43.083333,4.916667,38.666667,36.166667,160.583333,1.819841e+09,...,-96.624403,0.0,34379.0,125.58,11.23,33.21,0.932,1.573755e+09,91185.570633,2